*.pyc
project.lock.json
bin/
obj/
.vs/
node_modules/
# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json